#cardContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0 25px;
  }
  
  #cardContainer > div {
    width: 47%;
    margin-bottom: 20px;
    max-width: 280px;
    min-width: 200px;
  
  }
  
  @media (max-width: 768px) {
    #cardContainer > div{
      width: 80%;
    }
  }